<div>
    <app-admin-portal></app-admin-portal>
    </div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <b>Update item</b>
            </div>
            <div class="card-body">
                <form #itemForm="ngForm" (ngSubmit)="UpdateItemInfo()">
                <label>Item Name</label>
                <input type="text"  [(ngModel)]="item.itemname" 
                name="itemname" 
                class="form-control"  />
                <br />
                <label>Item Price</label>
                <input type="text"  [(ngModel)]="item.itemprice" 
                name="itemprice" class="form-control"  />
                <br />
                <label>Item Description</label>
                <input type="text"  [(ngModel)]="item.itemdesc" 
                name="itemdesc" class="form-control" />
                <br />
                <br />
                <label>Item Status</label>
                <input type="text"  [(ngModel)]="item.status" 
                name="status" class="form-control" />
                <br />
                <input type="submit"  value="Update " class="btn btn-success" />
                <br /><br />
            </form>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>