<nav class="navbar">
    <div class="navbar-icon">
        <img src="https://m.media-amazon.com/images/I/71a0PWlJPUL._AC_UF1000,1000_QL80_.jpg" alt="">
    </div>
    <p>WelcomeAdmin</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <ul class="navbar-links">
        <li ><a routerLink="/reservation-tables" routerLinkActive="active">Reservation Tables</a></li>
        <li ><a routerLink="/new-item" routerLinkActive="active">Add Menu</a></li>
        <li ><a routerLink="/view-all" routerLinkActive="active">All Items</a></li>
        <li ><a routerLink="/item-status" routerLinkActive="active">Item Status</a></li>
        <li ><a routerLink="/admincontact" routerLinkActive="active">Contact Details</a></li>
        <li ><a (click)="Logout()">Logout</a></li>
    </ul>
</nav>
