<div>
    <div
  class="bg-image"
  style="
    background-image: url('https://images.unsplash.com/photo-1481833761820-0509d3217039?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8Y2FmZXxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80');
  background-size: cover; background-position:relative;
  height: 100%;
  ">
<div class="container">
    
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
          <a routerLink="/welcome" routerLinkActive="active" class="nav-link">About Us</a>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a routerLink="/contact" routerLinkActive="active" class="nav-link">Contact us</a>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a routerLink="/menu" routerLinkActive="active" class="nav-link">Menu</a> 
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a routerLink="/booktable" routerLinkActive="active" class="nav-link">Book Table</a>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <a routerLink="/table-list" routerLinkActive="active" class="nav-link">Reserved Tables</a>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <a routerLink="/update" routerLinkActive="active" class="nav-link">Update User Details</a>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <a routerLink="/change" routerLinkActive="active" class="nav-link">Change Password</a>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a routerLink="/" routerLinkActive="active" class="nav-link">Logout</a>              
    </nav>

    <router-outlet></router-outlet>
    <div class="contact-us">

    <div class="contact">
        <h2>Contact Us</h2>
            <p>If you have any questions or feedback, please feel free to get in touch with us!</p>
            <div class="contact-details">
                <div class="address">
                    <h3>Address</h3>
                    <p>123 Cafe Street, Cityville, Pune</p>
                </div>
                <div class="phone">
                    <h3>Phone</h3>
                    <p>(123) 456-7890</p>
                </div>
                <div class="email">
                    <h3>Email</h3>
                    <p>info@gloriacafe.com</p>
                </div>
            </div>
            
    </div>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
</div>
</div> 
</div>

