<div>
   <div
  class="bg-image"
  style="
    background-image: url('https://images.unsplash.com/photo-1481833761820-0509d3217039?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8Y2FmZXxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80');
  background-size: cover; background-position:relative;
  height: 100%;
  ">
   
<div class="container">
   <nav class="navbar navbar-expand-lg bg-body-tertiary">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <a routerLink="/welcome" routerLinkActive="active" class="nav-link">About Us</a>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <a routerLink="/contact" routerLinkActive="active" class="nav-link">Contact us</a>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <a routerLink="/menu" routerLinkActive="active" class="nav-link">Menu</a>    
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <a routerLink="/booktable" routerLinkActive="active" class="nav-link">Book Table</a>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <a routerLink="/table-list" routerLinkActive="active" class="nav-link">Reserved Tables</a>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <a routerLink="/update" routerLinkActive="active" class="nav-link">Update User Details</a>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <a routerLink="/change" routerLinkActive="active" class="nav-link">Change Password</a>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a routerLink="/" routerLinkActive="active" class="nav-link">Logout</a>           
   </nav>
      

   <br/><br/><br/><br/>
   <p class="para1">
      Welcome to Gloria Cafe, where every cup and bite tells a story. Nestled in the heart of the city, 
      our cozy yet modern ambiance welcomes you to a culinary journey that celebrates both tradition and innovation. 
      With a commitment to using only the freshest locally-sourced ingredients, our menu boasts a range of signature dishes 
      and artisanal beverages that tantalize the senses. From handcrafted coffees to delectable vegan desserts, each creation
       is a masterpiece in itself. Our vibrant cafe also serves as a hub of activity, hosting live music, workshops, and events
        that bring the community together. At Gloria Cafe, sustainability is at the core of our values, reflected in our
         eco-friendly practices and commitment to reducing our carbon footprint. Come savor the flavors, enjoy the artistry,
          and become part of our thriving cafe family.
   </p>
   
   <div class="container1">
      <router-outlet></router-outlet>
    </div>
</div>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
</div>