<div>
  <app-admin-portal></app-admin-portal>
  </div>
<div class="user-list-container">
    <div class="user-table-box">
      <table class="user-table">
        <thead>
          <tr>
            <th>User ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phone }}</td>
            <td>{{ user.status }}</td>
            <td>
              <button *ngIf="user.status !== 'Confirmed'" (click)="confirmUser(user.id)">Confirm</button>
              &nbsp;&nbsp;
              <button *ngIf="user.status !== 'Denied'" (click)="denyUser(user.id)">Deny</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  